@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300&family=Comfortaa:wght@400;700&family=Just+Another+Hand&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e3d9d9;
    font-family: 'Big Shoulders Display', cursive;
    height: auto;
    margin: 0;
    padding: 0;
    color: #6f42c1
}

header {
    background-color: rgba(151, 227, 151, 0.8);
    margin: 0;
    height: 20vh;
}

img{
    margin: 13%;
    margin-left: 35%;
    padding: 25px;
    width: 200px;
    height: 200px;
}


/* Welcome/About Us link */
.welcome {
   /* border: 1px solid red; */
   margin: 45px;
   width: 60%;;
}

.welcome p {
    margin-top: -25px;
}

button {
    background-color: #6f42c1; 
    border: 1px solid #6610f2; 
    font-family: inherit;
    color:rgb(194, 180, 194);
    overflow: hidden;
}

button:focus {
    outline: none;
}

button .circle {
    margin-left: 5px;
    border-radius: 33%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3); 
        opacity: 0;
    }
}


/* Buttons */
.content-Navbtns {
    margin: 0;
    padding:0;
    margin-top: 25px; 
    margin-bottom: -30px;
}

.Navbtns {
    background:inherit;
    max-width: 80%;
    margin: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px 12px;
    z-index: 1;
}

.Navbuttons {
    display: flex;
    flex-direction:column;
    justify-content:space-evenly; 
    font-family: inherit;
    justify-items: center;
}

li {
    width: 33.3vw;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    color: #6f42c1
}

li img {
    width: 160px;
    height: 150px;
    margin: 2px 5px;
    padding: 0px 15px;  
    border-radius: 100%;   
}


/* Later: add Media Query */
